body {
    @media (max-width: 1024px) {
      width: 1024px;
    }
}
.btn, .form-select {
  &:focus {
    box-shadow: unset;
  }
  &.btn-disabled {
    pointer-events: unset !important;
    cursor: not-allowed !important;
  }
}